
	<form action="/" method="post"  >
		
			<td> Enter the text : </td>
			<td> <input type="text" id="tex" name="data"> </td>
			
		
			<br>
		
			<button type="submit" id="submit"> submit </button>
		
        
<ol>
    {{#each item}}
        <li>
            {{this}}
        </li>
    {{/each}}
</ol>
	</form>
