<h3>
    register
</h3>

<form action="/register" method="post">
    <table>
        <tr>
            <td>
                <a href="/auth/google"> google </a>
            </td>
        </tr>
        <tr>
            <td>
                Enter E-mail :
            </td>
            <td>
                <input type="email" name="email" required/>
            </td>
        </tr>
        <tr>
            <td>
                Enter Password :
            </td>
            <td>
                <input type="password" name="password" required/>
            </td>
        </tr>
        <tr>
            <td>
                Enter Confirm Password :
            </td>
            <td>
                <input type="password" name="confirmPassword" required/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" >register</button>
            </td>
        </tr>
    </table>
</form>