<h3>
    login
</h3>

<form action="/login" method="post">
    <table>
        <tr>
            <td>
                Enter E-mail :
            </td>
            <td>
                <input type="email" name="email" required/>
            </td>
        </tr>
        <tr>
            <td>
                Enter Password :
            </td>
            <td>
                <input type="password" name="password" required/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" >Login</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                
            </td>
        </tr>
    </table>
</form>
<a href="/callRegister">New Users?</a>